---
name: Actionlint
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
  merge_group:
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Actionlint
        uses: "reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda" # v1.70.0
        with:
          fail_level: any
          filter_mode: nofilter
